<!DOCTYPE html>
<html>
<head>
	<title>Monkey Dashboard</title>
</head>
<body>
	<h1>Create a New Monkey</h1>
	<form action="/monkeys" method="POST">
		<label>Name: <input type="text" name="name"></label>
		<label>Color: <input type="text" name="color"></label>
		<label>Age: <input type="text" name="age"></label>
		<input type="submit" value="Create Monkey">
	</form>

</body>
</html>